.imp {
    background-color: rgb(176, 176, 208) !important;
    width: 100%;
    padding: 5%;
}

.chatdata {
    display: flex;
    flex-direction: column !important;
}

.json-container {
    
    max-height: 400px; /* Reduced size */
    overflow-y: auto; /* Enables scroll */
    border: 1px solid #c57d7d; /* Medium thickness border */
    border-radius: 8px; /* Rounded corners */
    padding: 10px;
    background-color: #1e1e1e; /* Dark background */
    color: #716060; /* White text */
   
}

.json-container p {
    margin: 5px 0; /* Adds some space between the lines of JSON output */
}


.anyalzebot{
    background-color: #1e1e1e;
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 2%;
}

.inputcont {
    background-color: brown;
    width: 50%;
    margin-left: 23%;
}

.provbutton {
    height: 100%;
    text-align: center;
}


.buttons button{
    width: 10rem;
    margin-left: 35%;
}
