

.chat {
    background-color: rgb(11, 10, 10);
    width: 40%;
    /* position: static !important; */
    margin-left: 60%;
}

@media (max-width: 768px) {
    .chat {
        width: 90%;
        margin-left: 0%;
    }
    .text-white{
        width: 90%;
    }
    .chatwidth{
        width: 100%;
    }
}